mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.submit {
    margin: 0em 0.25em;
}

// mat-grid-tile {
//     background: lightblue;
// }

.scroll-viewport {
    height: 34em;
    width: 16em;
    border: 1px;
}

.scroll-viewport-2 {
    height: 34em;
    width: 32em;
    border: 1px;
}

.scroll-item {
    margin: 0.5em 0em;
}

.print-preview {
    padding: 0cm 0.2cm;
    margin: 0.0cm 0.0cm;
    table-layout: fixed;
    width: 10cm;
    height: 10cm;
}