<mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    animationDuration="0ms"
    >
    <mat-tab label="Shipments planning">
        <shipment-planning></shipment-planning>
    </mat-tab>

    <mat-tab label="Shipments logging">
        <create-shipment-tag></create-shipment-tag>
    </mat-tab>

    <mat-tab label="Materials Issue logging">
        Content 2
    </mat-tab>

    <mat-tab label="Materials Recieve logging">
        Content 3
    </mat-tab>
    
</mat-tab-group>