.example-container {
  height: 600px;
  overflow: auto;
}

.mat-mdc-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
  min-width: 80px;
  // min-width: 2em;
  box-sizing: border-box;
}

.mat-mdc-header-row,
.mat-mdc-footer-row,
.mat-mdc-row {
  min-width: 1920px;
  /* 24 columns, 80px each */
}

table td,
table th {
    width: 100%;
    // border: 1px solid black;
}

table{
  width: 100%;
}

.mat-column-partno {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  // -ms-hyphens: auto;
  // -moz-hyphens: auto;
  // -webkit-hyphens: auto;
  // hyphens: auto;
}